@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  height: 100vh; /* Ocupa toda la altura de la ventana */
  display: flex; /* Flexbox para centrar */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  margin: 0;
  padding: 0;
  font-weight: normal;
  background-color: #ffffff; /* Fondo claro como en el componente */
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: #ffffff;
  }
}

@media (min-width: 1024px) {
  body {
    height: 100vh; /* Asegura que el body ocupe toda la pantalla */
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff; /* Fondo consistente */
  }

  #app {
    display: flex;
    flex-direction: column; /* Asegura que los elementos estén en columna */
    width: 100%;
    background-color: #ffffff; /* Fondo blanco para mantener consistencia */
  }
}
